.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
    .profile-picture{
        width: 88px;
        height: 88px;
        border-radius: 50%;
        overflow: hidden;

        &>img{
            width: 100%;
        }
    }

    .profile-name{

        p{
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
        }
    }
}

#slack{
    display: none;
}

.share-button, .content-button{
    position: absolute;
    top: 10%;
    right: 15%;
}
.content-button{
    display: none;
}

@media screen and (max-width: 512px){
    .content-button{
        display: block;
        right: 10%;
    }
    .share-button{
        display: none;
    }
}
