.footer{
    padding: 48px 52px;

    .footer-icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 790px){
    .footer{
        padding: 48px 32px;
    }
}

@media screen and (max-width: 640px){
    .footer{
        .footer-icons{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 24px;
        }
    }
}