.contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 92px 20%;

    .contact-form{
        h1{
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            color: #101828;
            margin-bottom: 20px;
        }
        &>p{
            font-size: 20px;
            line-height: 30px;
            color: #475467;
            margin-bottom: 48px;
        }

        form{

            .names{
                display: flex;
                flex-direction: row;
                width: 100%;
                column-gap: 24px;

                .firstname, .lastname{
                    width: 100%;
                }
            }

            .selected{
                font-size: 12px;
                margin-bottom: 24px;
                color: red;
        
            }
            .check{
                display: flex;
                gap: 10px;
                margin-bottom: 32px;
            
                &>label{
                    font-size: 12px;
                }
                
            }
        }
    }
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    label{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
    }
    input{
        width: 100%;
        height: 100%;
        padding: 10px 14px;
        border-radius: 8px;
        background-color: #fff;
        border-color: #d0d5dd;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

        &:focus{
            outline-color: #8891a3;
        }


        &::placeholder{
            color: #667085;
        }
    }

    textarea{
        height: 158px;
        padding: 1%;

        &:focus{
            outline-color: #8891a3;
        }
    }

    #btn__submit{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        background: #1570EF;
        border: 1px solid #1570EF;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        transition: all 0.5s ease-in-out;

        &:hover{
            transform: scale(1.03);
        }
    }
}


@media screen and (max-width: 740px){
    .contact-page{
        padding: 92px 5%;
    }
}

@media screen and (max-width: 512px){

    .contact-form{
        form{
            .names{
                display: block !important;
                // flex-direction: column;
            }
        }
    }

    

}

